*,
*::before,
*::after{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}
body{
    display: flex ;
    flex-wrap: wrap ;

}
div{
    border: 1px solid black ;
    border-radius: 10px ;
    padding: 10px ;
    margin: 20px ;
    width: fit-content ;
    box-shadow: 2px 2px 2px 2px gray ;
    background-color: rgb(132, 20, 163);
    color: white ;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 1.3rem ;
    word-spacing: 0.1rem ;
    letter-spacing: 0.1rem ;
}