
 body{
    margin: 0 ;
    padding: 0 ;
 }

 nav ul{
    list-style-type : none ;
    margin: 0 ;
    padding: 0 ;
    background-color: #333 ;

 }

 nav li {
    display : inline-block ;
 }

 nav a{
    display: block ;
    padding: 14px 16px ;
    color: white ;
    text-decoration: none ;
 }