/* 
width: 356px
height: 566px ;
top : 91px ;
left: 578px ;
Radius : 48px ;


color: #2D2A37


Inner Shadow: X 0, Y -4, Blur 5, Spread 0, #000000 22%

Inner Shadow: X 0, Y 6, Blur 8, Spread 0, #FFFFFF 10%
 */



*,
*::before,
*::after{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

body{
    display: flex ;
    justify-content: center;
    align-items: center ;
    height: 100vh ;
}

.div{
    height: 10px ;
    width: 10px ;
    border: 10px solid white ;
}

.cal-container{
    border: 2px solid black ;
    height: 500px ;
    width: 300px ;
    border-radius: 20px ;
    background-color: rgb(4, 4, 13);
    box-shadow: 10px 10px 10em 10px gray ;
    display: flex ;
    flex-direction: column;
    padding: 20px ;

}

.cal-display{
    border: 1px solid gray ;
    height: 100px ;
    width: 100% ;
    background-color: rgb(44, 43, 43);
    margin-bottom: 20px;


}

.cal-keyboard{

    display: grid;
        grid-template-columns: repeat(4, 25%);
        gap: 1px ;

}

.number{
    background-color: rgb(69, 70, 71); 
    height: 30px ;
    width: 30px ;
    border-radius: 5px ;
    text-align: center ;
    margin:2px ; 
    font-size: 20px ;
    color: white ;
    font-weight: bold ;
    padding: 10% ;
    box-shadow: 2px 2px 2px 2px gray ;
}
