/* 
width: 1630px ;
heigth: 1145 ;
Radius: 50px ;

linear-gradient: #807ECE #8E7ECE





width: 356px
height: 566px ;
top : 91px ;
left: 578px ;
Radius : 48px ;


color: #2D2A37


Inner Shadow: X 0, Y -4, Blur 5, Spread 0, #000000 22%

Inner Shadow: X 0, Y 6, Blur 8, Spread 0, #FFFFFF 10%
 */



*,
*::before,
*::after{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
    
}

body{
    display: flex ;
    justify-content: center;
    align-items: center ;
    height: 100vh ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div{
    height: 10px ;
    width: 10px ;
    border: 10px solid white ;
}

.back-container{

    width: 1630px;
    height: 1145;
    border-radius: 50px;
    background: linear-gradient(#807ECE, #8E7ECE) ;
    display: flex ;
    justify-content: center;
    padding: 50px ;
    
}

.cal-container{
    border: 2px solid rgb(60, 47, 65) ;
    width: 356px ;
    height: 566px;
    top: 91px;
    left: 578px;;
    border-radius: 48px ;
    background-color: rgb(43, 34, 47);
    box-shadow: 10px 10px 10em 10px gray ;
    display: flex ;
    flex-direction: column;
    padding: 20px ;
    border-top: 10px solid rgb(89, 64, 105)  ;
    box-shadow:

}

.cal-display{
    border: 1px solid gray ;
    height: 100px ;
    width: 100% ;
    background-color: rgb(44, 43, 43);
    margin-bottom: 20px;


}

.cal-keyboard{

    display: grid;
        grid-template-columns: repeat(4, 25%);
        gap: 10px ;

}

.number{
    background: radial-gradient(rgb(28, 27, 27), rgb(57, 57, 57)) ;
    height: 50px ;
    width: 50px ;
    border-radius: 50px ;
    text-align: center ;
    margin:2px ; 
    font-size: 20px ;
    color: white ;
    padding: 10% ;
    box-shadow: 0px 1px 5px 1px rgb(38, 37, 37) ;
    border-top: 1px solid  rgb(65, 65, 65)
}
