body{
    margin: 0 ;
    padding: 0 ;
}

.header{
    position: fixed ;
    top: 0 ;
    left: 0 ;
    width: 100% ;
    background-color: #333 ;
    color: white ;
    padding: 10px ;
    z-index: 1000 ;
}

.container{
    position: relative ;
    height: 400px ;
    width: 500px ;
    margin-top: 60px ;
    border: 2px solid blue ;
    padding: 20px ;
    
}

.absolute-box{
    position:absolute ;
    background-color: red ;
    top: 50px ;
    right: 20px ;
    width: 100px ;
    height: 100px ;
    color: white ;
    padding: 10px ;;
}