.container{
    background-color: beige;

    height: 100vh ;
    width: 100% ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

.container-1{
    height:500px ;
    width: 300px ;
    background-color: transparent;
    border-radius: 100% ;
    border-right: 30px solid black;
    position: relative ;


}

.item-1 {
    position: absolute;
    top: 100px;
    left: 200px;
    border-style: dashed;
    height: 200px;
    width: 200px;
    border-radius: 20% 30% 40% 10%;
    transform: rotate(123deg);
    background-color: aquamarine;

    animation: shake 0.3s infinite;
    transition: all 0.3s;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(20px) rotate(123deg);
    }

    50% {
        transform: translateX(-5px) rotate(123deg);
    }
}