
:root{

        --primary-skin-color: rgb(157,
        118,
        63);
}
*,
*::before,
*::after{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

body {
    background-color: rgb(25, 25, 25);
    margin: 0;
    padding: 0;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    height: 100vh ;
}

.container {
    background-image: url('SAM.jpeg');
    height: 600px;
    width: 400px;
    border: 1px solid rgb(75, 72, 72);
    background-size: cover;
    /* Makes the image cover the entire container */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents image from repeating */
    position: relative ;
}

div{
    height: 10px ;
    width: 10px ;
    border: 1px solid var(--primary-skin-color);

}

.face-outline{
    height: 110px ;
    width: 180px ;
    border-radius: 40% 10%  10% 20%/50% 30% 20% 10% ;
    background-color: var(--primary-skin-color);
    border: transparent ;
    box-shadow: 0 0 10px 10px var(--primary-skin-color) ;
    position: absolute  ;
    top: 200px ;
    left: 130px ;
    visibility: hidden ;
}

.nose{
    position: absolute ;
    width: 28px ;
    height: 50px ;
    top: 225px ;
    left: 214px ;
    background-color: rgb(157, 118, 63);
    border: none ;
    border-radius: 10px;
}

.eyes-container{
    position: absolute ;
    height: 50px ;
    width: 230px ;
    top: 190px ;
    left: 100px ;
    display: flex ;
    justify-content: space-around;
    align-items: center ;
    border: none ;
    transform: rotate(-deg)
}

.eye-box{
    border: none ;
}


.eye-pupil{
    height: 25px ;
    width: 25px ;
    background-color: black ;
    border-radius: 50% ;;
    border-color: rgb(56, 54, 54);
    position: relative ;
}

.eye-glow{

    background-color: white ;
    border-radius: 50% ;
    height: 4px ;
    width: 4px ;
    position: absolute ;
    top: 7px ;
    left: 15px ;
}

.eye-center{
    border-radius: 50% ;
    position: absolute ;
    top: 32% ;
    left: 34% ;
    background-color: rgb(1, 1, 1);
    border-color: rgb(46, 45, 45);
    box-shadow: 1px 1px 10px rgb(71, 23, 23) ;
}

.mouth{
    position: absolute ;
    top: 300px ;
    left: 170px ;
    height: 40px ;
    width: 100px;
}
.lips{
    height: 100% ;
    width: 100% ;
    position: relative;
}

.lip{
    background-color: pink;
    border: 1px solid pink ;
    position: absolute ;
    height: 1px ;
    width: 10px ;
    top: 20px ;
    left: 30px ;

}