.container{
    background-color: black;
    border: 1px solid black ;
    gap: 10px ;
    display: grid ;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);

}

.item{
    height:20px ;
    width: 20px ;
    background-color: thistle;
}