:root{
    --primary : #160225;
    --primary-dark-black: #000000 ;
    --secondary: #4c1d95;
    --tertiary: rgb(228, 187, 3) ;
    --text-color-10 : white ;
    --text-color-20: rgb(201, 134, 0) ;

    --z-sticky : 2 ;
}

body{
    margin: 0 ;
    padding: 0 ;

}

.container{
    background-color: var(--primary);
    color : var(--text-color-10) ;
}
.me{
    color: var(--text-color-20) ;
}

.nav-bar{
    position: sticky ;
    top: 0;
    z-index: var(--z-sticky);
    transition: all 0.3s ease;
    display: flex ;
    background-color:var(--primary-dark-black ) ;
    justify-content: space-between;
    align-items: center ;
    height: 100px ;
    tra
    
}

.header-name{
    font-size: 20px 
}

.nav-items{
    display: flex ;
    gap: 10px ;
    padding: 10px ;

}

.nav-item{
    border: 1px solid  ;
    padding: 5px 10px ;
    border-radius: 10px ;;
}

.nav-item:hover{

    background-color: var(--secondary);
    font-size: 1.1em ;
    cursor: pointer;

}

.nav-iem a{
    text-decoration: none ;
    color: white ;
}






