:root{
    --primary : #1e0234;
    --primary-dark-black: #000000 ;
    --primary-light-black: #121212;
    --secondary: #4c1d95;
    --tertiary: rgb(228, 187, 3) ;
    --text-color-10 : white ;
    --text-color-20: rgb(201, 134, 0) ;


    /* body-containers padding */
    --section-padding: 50px ;

    --z-sticky : 2 ;
}

body{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.container{
    background-color: var(--primary);
    color : var(--text-color-10) ;
    
}
.me{
    color: var(--text-color-20) ;
}

.nav-bar{
    position: sticky ;
    top: 0;
    z-index: var(--z-sticky);
    transition: all 0.3s ease;
    display: flex ;
    background-color:var(--primary-dark-black ) ;
    justify-content: space-between;
    align-items: center ;
    height: 100px ;

    
}

.header-name{
    font-size: 20px ;
}

.nav-items{
    display: flex ;
    gap: 10px ;
    padding: 10px ;
    flex-wrap: wrap ; 

}

.nav-item{
    border: 1px solid  ;
    padding: 5px 10px ;
    border-radius: 10px ;
    box-shadow: 0 5px 5px white;
}

.nav-item:hover{

    background-color: var(--secondary);
    font-size: 1.1em ;
    cursor: pointer;

}

.nav-item>a{
    text-decoration: none ;
    color: white ;
    font-size:  16px ;
}

button{
    padding: 5px 10px ;
    border-radius: 10px ;
    background-color: var(--text-color-20) ;
    border: 2px solid var(--text-color-20) ;
    box-shadow: 0 10px 10px var(--primary-dark-black) ;
}

#home{
    min-height: 350px ;
    padding: var(--section-padding) ;
    text-align: left  ;

}

h3 {
    color: var(--text-color-20)
}

#about{
    min-height: 350px ;
    padding: var(--section-padding);
    margin-top: 200px ;
    display: flex ; 
    background-color: var(--primary-dark-black);
   

}

.about-me-container{
    display: flex ;
    gap: 60px ;
    height: 330px ;
}

.profile-pic{
    border: 15px solid var(--text-color-20) ;
    border-radius: 10px ;

}

#services{

    display: flex ;
    height: fit-content;
    padding: var(--section-padding);
    background-color: var(--primary-light-black);
}

.service-card-container{
    display: flex ;
    gap: 20px ;
    margin-top: 30px ;;
}

.service-card{
    background-color: var(--primary-dark-black);
    text-align: center ;
    padding: 20px ;
    border-radius: 10px ;;
}

#portfolio {
    background-color: var(--primary-dark-black);
    height: fit-content;
    padding: var(--section-padding);
    /* Add some vertical spacing */
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(2,1fr);
    gap: 10px ;
    padding: 10px ;
    
}

.portfolio-grid-item {
    background-color: var(--primary-light-black);
    padding: 20px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    overflow: hidden;
    border-radius: 5px ;
    /* Prevent content overflow */
}

#grid-item-1{
    grid-row: 1/3;
}

.portfolio-grid-item:hover {
    transform: scale(1.02);
}


#experiance{
    padding: var(--section-padding);
}

#contact{
    padding: var(--section-padding); 
}

.footer-container{

    height: 200px ;
    align-items: center ;;

}




