/*
  Brian Poblete's CSS Reset
  
  Inspired by Josh Comeau's CSS Reset and Andy Bell's CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
  https://andy-bell.co.uk/a-modern-css-reset/
*/

@import url("https://fonts.cdnfonts.com/css/rusty-hooks");

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

#root,
#__next {
    isolation: isolate;
}

body {
    --blue-400: #88cafc;
    background-color: var(--blue-400);

    font-family: "Rusty Hooks", sans-serif;
}

.container {
    margin: auto auto;
    position: relative;
    min-height: 662px;
    height: 662px;
    max-height: 662px;

    min-width: 917px;
    width: 917px;
    max-width: 917px;

    border: 2px solid black;
    display: grid;
    justify-content: center;
    align-items: center;

    --white-300: #fffffeff;
    /* eyes */
    --white-400: #f7f8e9ff;
    /* fur */
    --gray-400: #c7c8baff;
    /* shadow */
    --gray-600: #8e919cff;
    /* nose tip */
    --brown-200: #6c6645ff;
    /* border */
    --brown-300: #bc8142ff;
    /* eye patches */
    --brown-400: #885728ff;
    /* ears, tail base */
    --brown-600: #663c2bff;
    /* eyebrows */
    --brown-900: #3f2e32ff;
    /* tail middle */
    --black-400: #25243cff;
    /* nose */
    --black-900: #000000ff;
    /* eye outline */
}

.cutoff {
    width: 30%;
    position: absolute;
    background-color: var(--blue-400);
}

.cutoff-left {
    height: 100%;
    left: 0;
    /* background-color: red; */
    width: 40px;
}

.cutoff-right {
    right: 82px;
    height: 30%;
    /* background-color: red; */
}

.body {
    height: 320px;
    width: 200px;
    background-color: var(--white-400);
    border: 3px solid var(--brown-200);
    border-radius: 4em;
    position: relative;
}

.ear {
    position: absolute;
    background-color: var(--brown-400);
    border: 3px solid var(--brown-600);
}

.ear-left {
    z-index: 2;
    top: -20px;
    left: 0px;
}

/* 
triangle left ear
https://segmentfault.com/a/1190000040344317/en
 */
.ear-left {
    position: relative;
    /* background-color: orange; */
}

.ear-left:before,
.ear-left:after {
    content: "";
    position: absolute;
    background-color: inherit;
    border-width: 3px 3px 0px 0px;
    border-style: solid;
    border-color: var(--brown-600);
    top: -3px;
    right: -4px;
}

.ear-left,
.ear-left:before,
.ear-left:after {
    border-top-right-radius: 30%;
    --left-ear-size: 50px;
}

.ear-left {
    height: calc(var(--left-ear-size) - 3px);
    width: var(--left-ear-size);
    transform: rotate(-30deg) skewX(-30deg) scale(1, 0.866);
}

.ear-left:before {
    height: var(--left-ear-size);
    width: var(--left-ear-size);
    transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
}

.ear-left:after {
    height: var(--left-ear-size);
    width: var(--left-ear-size);
    transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

.ear-right {
    height: 40px;
    width: 100px;
    top: -11px;
    right: -30px;
    z-index: -1;
    border-radius: 55% 55% 55% 0;
    transform: rotate(35deg);
}

.patch {
    background-color: var(--brown-300);
    position: absolute;
}

.patch-left {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    top: 3px;
    left: 3px;
}

.filler {
    background-color: var(--brown-300);
}

#filler1 {
    position: absolute;
    height: 80px;
    width: 50px;
    bottom: 0px;
    left: -3px;
    border-radius: 30px 10px 0px 30px;
}

.patch-right {
    height: 120px;
    width: 50px;
    right: -1px;
    top: 22px;
    border-radius: 39%;
    transform: rotate(0deg);
}

#filler2 {
    position: absolute;
    height: 50px;
    width: 40px;
    border-radius: 30% 100% 30% 30%;
    top: -17px;
    right: 9px;
}

.eye {
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 3px solid black;
}

.eye-left {
    left: 30%;
    top: 40px;
    height: 90px;
    width: 70px;
    border-radius: 60%;
}

.eyebrow {
    --eb-size: 34px;
}

.eye-left>.eyebrow {
    position: absolute;
    height: calc(var(--eb-size) * 0.8);
    width: calc(var(--eb-size) * 1.7);
    background-color: var(--brown-600);
    border: 4px solid var(--brown-900);
    border-radius: 100%;
    top: -37px;
    left: -4px;
    transform: rotate(-15deg);
}

.eye-right {
    right: 3px;
    top: 45px;
    height: 83px;
    width: 55px;
    border-radius: 45%;
}

.eye-right>.eyebrow {
    position: absolute;
    height: calc(var(--eb-size) * 0.8);
    width: calc(var(--eb-size) * 1.7);
    background-color: var(--brown-600);
    border: 3px solid var(--brown-900);
    border-radius: 100%;
    top: -43px;
    left: -4px;
    transform: rotate(15deg);
}

.pupil {
    position: absolute;
    height: 38px;
    background-color: black;
}

.pupil-left {
    width: 20px;
    top: 25%;
    left: 39%;
    border-radius: 100%;
}

.pupil-right {
    width: 18px;
    top: 21%;
    left: 20%;
    border-radius: 100%;
}

.smile {
    /* curved line https://stackoverflow.com/a/27849638 */
    --smile-width: 70%;
    --smile-height: 40px;
    position: absolute;
    top: 47%;
    left: 45%;
    width: var(--smile-width);
    height: var(--smile-height);
    border: solid 3px;
    border-color: var(--brown-200) transparent transparent transparent;
    border-radius: 50% / var(--smile-height) calc(var(--smile-height)) 0 0;
    transform: rotateX(180deg);
}

.dimple {
    /* curved line https://stackoverflow.com/a/27849638 */
    --dimple-width: 20%;
    --dimple-height: 10px;
    position: absolute;
    top: 54%;
    left: 46%;
    width: var(--dimple-width);
    height: var(--dimple-height);
    border: solid 3px;
    border-color: var(--brown-200) transparent transparent transparent;
    border-radius: 50% / var(--dimple-height) calc(var(--dimple-height)) 0 0;
    transform: rotateX(180deg) rotateZ(-155deg);
}

.snout {
    position: absolute;
    z-index: 1;
    width: 82px;
    height: 70px;
    background-color: var(--white-400);
    /* background-color: red; */
    border-width: 3px 3px 0px 0px;
    border-style: solid;
    border-color: var(--brown-200);
    border-radius: 0 40% 0% 0;
    right: -6%;
    top: 30%;
    transform: rotate(12deg);
}

.nose {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--black-400);
    right: 0;
    border-radius: 40%;
}

.nose-tip {
    position: absolute;
    height: 8px;
    width: 15px;
    background-color: var(--gray-400);
    border-radius: 100%;
    right: 3px;
    top: 5px;
}

.back-outer {
    position: absolute;
    height: 30px;
    width: 45px;
    background-color: var(--brown-900);
    bottom: 16%;
    left: -2px;
    border-radius: 50% 50% 0 50%;
    transform: rotate(15deg);
}

.back-inner {
    position: absolute;
    height: 30px;
    width: 50px;
    background-color: var(--brown-400);
    bottom: 10%;
    left: -8px;
    border-radius: 50% 50% 100% 50%;
    transform: rotate(-110deg);
}

.tail {
    position: absolute;
    height: 35px;
    width: 100px;
    background-color: var(--white-400);
    bottom: 5%;
    left: -40%;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: var(--brown-200);
    transform: rotate(-20deg);
    z-index: -1;
}

.tail-base {
    position: absolute;
    width: 25px;
    height: 65px;
    background-color: var(--brown-900);
    bottom: -58%;
    right: 0%;
    border-radius: 60%;

    transform: rotate(-90deg);
    z-index: -1;
}

.tail-tip {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--white-400);
    left: -10%;
    bottom: 40%;
    border-radius: 50%;
    border-width: 3px 0px 0px 3px;
    border-style: solid;
    border-color: var(--brown-200);
    transform: rotate(0deg) skewX(30deg) scale(1, 0.866);
}

.tail-tip-inner {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--white-400);
    left: 15%;
    bottom: -50%;
    border-radius: 50%;
    transform: rotate(0deg);
}

.arm {
    position: absolute;
    height: 100px;
    width: 40px;
    background-color: var(--white-400);
    border: solid var(--brown-200);
    border-width: 0 3px 0 3px;
    left: 20px;
    bottom: 23px;
}

.palm {
    position: absolute;
    bottom: -21px;
    left: -4px;
    width: 40px;
    aspect-ratio: 1/1;
    background-color: var(--white-400);
    border: solid var(--brown-200);
    border-width: 0px 0px 5px 3px;
    border-radius: 50%;
    transform: rotate(-30deg);
}

.fingers {
    position: absolute;
    bottom: 20px;
    left: -2px;
    transform: rotate(40deg);
}

.finger {
    position: absolute;
    width: 19px;
    aspect-ratio: 1.2/1.3;
    background-color: var(--white-400);
    border: solid var(--brown-200);
    border-width: 0 3px 3px 3px;
    border-radius: 50% 50% 80% 80%;
}

.finger-1 {
    bottom: -16px;
    left: -10px;
    transform: rotate(30deg);
}

.finger-2 {
    bottom: -20px;
    left: 4px;
    transform: rotate(3deg);
    z-index: 1;
}

.finger-3 {
    bottom: -18px;
    left: 20px;
    transform: rotate(-30deg);
}

.legs {
    position: absolute;
    display: flex;
    bottom: -100px;
    left: 30px;
    z-index: -1;
    min-width: 80%;
    gap: 29px;
}

.leg {
    height: 100px;
    width: 50px;
    background-color: var(--white-400);
    border: solid var(--brown-200);
    border-width: 0 3px 0 3px;
}

.leg-right {
    right: 0;
}

.foot {
    position: absolute;
    z-index: 2;
    bottom: 0;
    transform: translateX(-1px);
    width: 60px;
    aspect-ratio: 2/1;
    border-radius: 150px 150px 20px 20px;
    background-color: var(--white-400);
    border-width: 0 3px 3px 0px;
    border-style: solid;
    border-color: var(--brown-200);
}

.toe {
    /* curved line https://stackoverflow.com/a/27849638 */
    --toe-width: 30px;
    --toe-height: 10px;
    position: absolute;
    top: 45%;
    left: 15%;
    width: var(--toe-width);
    height: var(--toe-height);
    border: solid 3px;
    border-color: var(--brown-200) transparent transparent transparent;
    border-radius: 50% / var(--toe-height) calc(var(--toe-height)) 0 0;
    transform: rotateX(180deg) rotateZ(-250deg);
}

.toe-right {
    left: 45%;
}