.container{
    display: grid ;
    gap: 10px ;
    padding: 10px ;
}

.item{
    background-color: #FF8900;
    color: white ;
    padding: 20px ;
    text-align: center ;
}
/* Desktop: 3 columns */
@media(min-width: 1024px){
    .container{
        grid-template-columns: repeat(3,1fr)
    }
}
/* Tablet: 2 columns */
@media(min-width: 768px){
    .container{
        grid-template-columns: repeat(2,1fr) ;
    }
}
/* Mobile: 1 column */
@media(max-width:767px) {
    .container {
        grid-template-columns: 1fr;
    }
}



